.input-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
}
.header {
  width: 100%;
}
.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;

  width: 25%;
}
.label {
  margin-bottom: 15px;
  font-family: 'Roboto';
  color: #64748b;
}
.input {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #7b8794;
}

*:focus {
  outline: none;
}
.register-now-btn {
  font-family: 'Roboto';
  color: white;
  padding: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #3b82f6;
  width: 50%;
}
.error {
  font-family: 'Roboto';
  color: red;
}
